@page "/gerenciador-despesas"

<TabControl>
    <TabTitulo>
        Titulo
    </TabTitulo>


    <ChildContent>
        <TabPage Text="Despesas">
            <h3>Contas negativas aqui</h3>
        </TabPage>
        <TabPage Text="Receitas">
            <h3>Contas positivas aqui</h3>
        </TabPage>
    </ChildContent>
    
</TabControl>


