@page "/gerenciador-despesas"

<TabControl>
    <TabPage Text="Despesas">
        <h3>Contas negativas aqui</h3>
    </TabPage>
    <TabPage Text="Receitas">
        <h3>Contas positivas aqui</h3>
    </TabPage>
</TabControl>


