@page "/gerenciador-despesas"

<TabControl>
    <TabTitulo>
        <img src="images/@(context.ImageSource).png" />
        @context.Text
    </TabTitulo>


    <ChildContent>
        <TabPage Text="Despesas" ImageSource="minus_red">
            <h3>Contas negativas aqui</h3>
        </TabPage>
        <TabPage Text="Receitas" ImageSource="plus_green">
            <h3>Contas positivas aqui</h3>
        </TabPage>
    </ChildContent>
    
</TabControl>


