@page "/categorias"

<h3>Categorias</h3>
<p>@Mensagem</p>

@if(Categorias == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <a href="/categoria-detalhe" class="btn btn-primary">Inserir Nova Categoria</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Categorias)
                {
                    <tr>
                        <td>@categoria.NomeCategoria</td>
                        <td><a href="/categoria-detalhe/@categoria.IdCategoria"><i>Edit</i></a></td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
   
    
}
