@page "/categoria-detalhe"
@page "/categoria-detalhe/{id:int}"



<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Detalhes da Categoria</h3>
            </div>
            <div class="modal-body">
                <EditForm Model="@Categoria" OnValidSubmit="SalvarCategoria">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="NomeCategoria" class="control-label">Categoria Nome</label>
                                <InputText id="NomeCategoria" class="form-control" @bind-Value="Categoria.NomeCategoria" />
                                <ValidationMessage For="@(() => Categoria.NomeCategoria)" />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">                           
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Salvar" />
                                <input type="button" class="btn btn-outline-danger" @onclick=Cancelar value="Cancelar" />
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>







