<div class="btn-group" role="group">

    @foreach (TabPage tabPage in Pages)
    {
        <button type="button"
            class="btn @GetButtonClass(tabPage)"
            @onclick=@(() => ActivatePage(tabPage))>

            @tabPage.Text
        </button>
    }

</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
